.profileScreen {
  height: 100vh;
  color: white;
}

.profileScreen__body {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8%;
  max-width: 800px;
}

.profileScreen__info {
  display: flex;
}

.profileScreen__info > img {
  width: 120px;
}

.profileScreen__body > h1 {
  font-size: 40px;
  font-weight: 600;
  border-bottom: 1px solid #293c2e;
  margin-bottom: 20px;
}

.profileScreen__details {
  color: white;
  margin-left: 25px;
  flex: 1;
}

.profileScreen__details > h3 {
  background-color: gray;
  padding: 15px;
  font-size: 15px;
  padding-left: 20px;
}

.profileScreen__plans > button {
  padding: 13px 20px;
  font-size: 1rem;
  width: 100%;
  margin-top: 5px;
  color: white;
  background-color: #e50914;
  border: none;
  cursor: pointer;
}

.profileScreen__plans h3 {
  border-bottom: 1px solid #293c2e;
  padding: 10px;
}
