.row {
  color: white;
  margin-left: 20px;
  margin-top: 20px;
}

.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.row__posters::-webkit-scrollbar {
  display: none;
  overflow: -moz-scrollbars-none;
}

.row__poster {
  max-height: 100px;
  object-fit: contain;
  margin-right: 10px;
  transition: transform 450ms;
  cursor: pointer;
}

.row__poster:hover {
  transform: scale(1.08);
  opacity: 1;
}

.row__posterLarge {
  max-height: 250px;
}

.row__posterLarge:hover {
  transform: scale(1.08);
  opacity: 1;
}
